Repository atrawog/bazzite-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, markdownlint, taplo, just-check

.pre-commit-config.yaml:

default_language_version:
  python: python3

fail_fast: false

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^docs/_build/'
      - id: end-of-file-fixer
        exclude: '^docs/_build/'
      - id: check-yaml
        args: ['--safe']
        exclude: '^docs/_build/|\.pre-commit-config\.yaml$'
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

  # Local hooks using system/user-installed tools
  - repo: local
    hooks:
      # ShellCheck (system package)
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        types: [shell]
        args: ['--severity=warning', '--format=gcc']

      # yamllint (system package)
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        language: system
        types: [yaml]
        args: ['--strict']

      # markdownlint-cli (npm user install)
      - id: markdownlint
        name: Markdown Lint
        entry: bash
        language: system
        types: [markdown]
        args: ['-c', 'markdownlint --fix --config .markdownlint.yaml "$@"', '_']
        exclude: '^docs/_build/'

      # taplo (cargo user install)
      - id: taplo
        name: TOML Formatter
        entry: bash
        language: system
        types: [toml]
        args: ['-c', 'taplo format --check "$@"', '_']

      # Justfile syntax
      - id: just-check
        name: Just Syntax Check
        entry: bash
        language: system
        files: '(^Justfile$|\.just$)'
        args: ['-c', 'just --unstable --fmt --check -f "$1"', '_']
        pass_filenames: true

      # Semantic commit message
      - id: semantic-commit-msg
        name: Semantic Commit Message
        entry: scripts/validate-commit-msg.sh
        language: script
        stages: [commit-msg]
        always_run: true

Fix: semantic commit validation script exits prematurely with set -e
  .github/workflows/semantic-commits.yml
Due: yamllint

Feat: add ujust toggle-syncthing command for user service management
  CLAUDE.md
  system_files/usr/share/ublue-os/just/95-bazzite-ai-system.just
Due: markdownlint, just-check

Refactor: optimize Containerfile with granular COPY for 12-25x faster builds
  CLAUDE.md
  Containerfile
  build_files/os/100-copy-system-files.sh
Due: markdownlint

Docs: add comprehensive GPU compatibility for NVIDIA, AMD, and Intel
  README.md
Due: markdownlint

Fix: prevent Docs: commits from triggering full image builds on main branch
  .github/workflows/build.yml
Due: yamllint

Fix: resolve arithmetic increment bug in commit type detection
  .github/workflows/build.yml
Due: yamllint

Feat: add LM Studio installation and systemd service toggle commands
  CLAUDE.md
  system_files/usr/share/ublue-os/just/97-bazzite-ai-dev.just
Due: markdownlint, just-check

Feat: add Ollama installation and systemd service toggle commands
  CLAUDE.md
  system_files/usr/share/ublue-os/just/97-bazzite-ai-dev.just
Due: markdownlint, just-check

Feat: add ComfyUI installation and systemd service management
  CLAUDE.md
  system_files/usr/share/ublue-os/just/97-bazzite-ai-dev.just
Due: markdownlint, just-check

Feat: enable virtualization by default with KVM kernel args and toggle control
  CLAUDE.md
  README.md
  build_files/os/40-services.sh
  docs/myst.yml
  docs/user-guide/virtualization.md
  system_files/etc/ublue-os/system_flatpaks
  system_files/usr/lib/systemd/system/bazzite-ai-kvm-setup.service
  system_files/usr/share/ublue-os/just/98-bazzite-ai-virt.just
  system_files/usr/share/ublue-os/privileged-setup.hooks.d/20-dx.sh
Due: yamllint, markdownlint, just-check

Fix: resolve CI build failures in main and docs workflows
  build_files/os/100-copy-system-files.sh
  build_files/os/40-services.sh
  pixi.lock
Due: none

Fix: correct heredoc indentation in justfile recipes
  system_files/usr/share/ublue-os/just/97-bazzite-ai-dev.just
Due: just-check
